@charset "UTF-8";
/*
EM HTML É ID   = EM CSS É # (só pode um elemento)
EM HTML É CLASS  = EM CSS É . (pode vários elementos)
 */

body {
    background-color: rgb(187, 248, 200);
}

h1 {
    color: rgb(7, 61, 2);
}
h1#principal {
    text-align: center;
    background-color:rgb(7, 61, 2) ;
    color: white;

}
h2 {
    color: rgb(0, 143, 0);
}

.basico {
   color: rgb(0, 143, 0);
}

.intermediario {
    color: rgb(143, 141, 0);
}

.avançado {
    color: rgb(143, 0, 0);
}